USE [master]
GO
/****** Object:  Database [PATIENTDB]    Script Date: 6.07.2021 04:53:25 ******/
CREATE DATABASE [PATIENTDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PATIENTDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PATIENTDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PATIENTDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PATIENTDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PATIENTDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PATIENTDB]
GO

/****** Object:  Table [dbo].[PATIENT_CONTROL]    Script Date: 6.07.2021 04:53:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PATIENT_CONTROL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[POLICLINIC_CODE] [varchar](4) NOT NULL,
	[DOCTOR_REC_ID] [numeric](5, 0) NOT NULL,
	[DOCTOR_NAME_SURNAME] [varchar](512) NOT NULL,
	[PATIENT_NAME] [varchar](255) NOT NULL,
	[PATIENT_SURNAME] [varchar](255) NOT NULL,
	[PATIENT_BIRTHDAY] [date] NOT NULL,
	[PATIENT_SEX] [numeric](1, 0) NOT NULL,
	[PATIENT_REC_ID] [numeric](11, 0) NOT NULL,
	[PATIENT_PHONE] [numeric](10, 0) NOT NULL,
	[VISIT_DATETIME] [datetime] NOT NULL,
	[NEXT_VISIT_DATETIME] [datetime] NULL,
	[DOCTOR_NOTE] [varchar](1000) NULL,
	[CREATE_DATETIME] [datetime] NULL,
 CONSTRAINT [PK_PATIENT_CONTROL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PATIENT_CONTROL] ADD  CONSTRAINT [DF_PATIENT_CONTROL_CREATE_DATETIME]  DEFAULT (getdate()) FOR [CREATE_DATETIME]
GO
USE [master]
GO
